mat-card {
  border: 1px solid rgba(255, 255, 255, .12);
  border-radius: 4px;
  background: #424242;
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
  width: 250px;
}

mat-card-header {
  margin-bottom: 10px;
  background-color: #424242;
  color: white;
}

img {
  height: 250px;
  width: 250px;
}
