#container {
  height: 320px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

h2 {
  color: white;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 10px;
}

img {
  height: 180px;
  width: 180px;
  border: 5px solid black;
}
