<app-whos-on-first-list [select]="word1"></app-whos-on-first-list>

<!--<div id="container">-->
<!--  <div class="screen">-->
<!--    <div class="box">-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <app-whos-on-first-list [select]="word1"></app-whos-on-first-list>-->
<!--          <button>-->
<!--            WHO-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <button>-->
<!--            ME-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <button>-->
<!--            YOU-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <button>-->
<!--            US-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <button>-->
<!--            YOUR-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <button>-->
<!--            TEAM-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
