#container {
  width: 100%;
  height: calc(100% - 100px);
  background-color: #222327;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.button-margin {
  margin: 12px;
}

.field {
  margin: 10px;
}

mat-table {
  margin: 10px;
}
