#container {
  width: 100%;
  height: calc(100% - 100px);
  background-color: #222327;
  overflow-y: scroll;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
