#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 600px;
}

#container-squares {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.square-row {
  transform: rotate(45deg);
}

.square {
  margin: 20px;
  width: 80px;
  height: 80px;
  border: 2px solid black;
}
